.App {
  display: flex;
  flex-wrap: wrap;
}
h1 {
  margin: 1rem;
  width: 30%;
 height: 14rem;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.Strings{
  margin-left: 10rem;
}
main {
  text-align: center;
  vertical-align: center;
}
.toasts{
  position:absolute;
  bottom:1rem;
  left:30%;
}
#toast-bar{
  color:white;
  text-align:center;
  height:3rem;
  width:25rem;
  border-radius:10px;
}
.btns{
  display: flex;
}
button{
  padding: 1rem;
  margin: 1rem;
}